@font-face {
  font-family: 'Oranienbaum';
  font-weight: 400;
  src: url(./vendor/fonts/Oranienbaum-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(./vendor/fonts/Roboto-Regular.ttf);
}

.body {
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #000;
  font-family: 'Oranienbaum', Tahoma, sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 20px;
  z-index: 1;
}
.header_type_position {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, .8);
}
.header__container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__lists {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
  display: flex;
  gap: 30px;
}
.header__list {
  font-size: 17px;
  font-weight: 400;
}
.header__list-link {
  color: #fff;
}
.link-decoration {
  text-decoration: none;
  transition: all .3s ease;
}
.link-decoration:hover {
  opacity: .8;
  color: #696969;
}
.header__phone {
  color: #fff;
  margin: 5px 0 0 0;
  text-align: right;
  font-size: 17px;
  font-weight: 400;
}
.header__phone:first-of-type {
  margin-top: 0;
}
.header__container-soc-cont {
  display: flex;
  gap: 70px;
  margin-right: 20px;
}
.header__contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-transform {
  text-transform: uppercase;
}
.header__social-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__social {
  background-position: 0 0;
  width: 25px;
  height: 25px;
  transition: background-position .2s ease;
}
.header__social:hover {
  background-position: 0 -25px;
}
.header__social_type_instagram {
  background-image: url(./images/1438557260_inst_4.png);
}
.header__social_type_facebook {
  background-image: url(./images/1438557245_ab_4.png);
}
.header__social_type_vk {
  background-image: url(./images/1438423986_vk_3.png);
}

.title {
  background-image: url(./images/bg-main.png);
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 670px;
}
.title__container {
  margin-left: 20px;
  padding-top: 250px;
}
.title__logo {
  background-image: url(./images/logo-new.png);
  background-size: 212px 147px;
  width: 212px;
  height: 147px;
  display: block;
}
.title__title {
  margin: 50px 0 0 0;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}
.title__description {
  margin: 5px 0 0 0;
  text-decoration: underline;
  font-size: 17px;
  color: #daa520;
  font-weight: 400;
}

.consultations {
  background-color: #fff;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.consultations__title {
  margin: 0;
  font-size: 33px;
  font-weight: 400;
}
.consultations__img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.consultations__subtitle {
  margin: 40px 0 0 0;
  font-size: 18px;
  line-height: 30px;
  max-width: 900px;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
}
.consultations__figure {
  margin: 20px 0 0 0;
  width: 100%;
}
.consultations__figure-description {
  color: #696969;
  font-size: 15px;
  margin-top: 8px;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
}



.info {
  background-color: #fff;
  padding-top: 50px;
}
.info__container {
  margin: 0 auto;
  width: 50%;
}
.info__title {
  font-size: 33px;
  font-weight: 400;
  margin: 0;
}
.info__text {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 30px 0 0 0;
}
.info__text_type_size {
  max-width: 460px;
  margin-left: 55px;
}


.registration {
  background-color: #fff;
  padding-top: 50px;
  font-family: 'Roboto', Tahoma, sans-serif;
}
.registration__table {
  background-color: #ff0;
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}
.registration__container-title {
  background-color: rgba(253, 195, 0, .7);
}
.registration__title {
  font-size: 16px;
  font-weight: 700;
  padding: 13px 25px;
}
.registration__title_type_position {
  text-align: left;
}
.registration__info {
  vertical-align: top;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 25px;
}
.table-size-row {
  width: 50%;
}
.registration__info_type_size {
  max-width: 100px;
}
.registration__text-style {
  font-size: 10px;
  display: block;
}
.registration__sign {
  font-size: 20px;
  padding: 10px 25px;
  vertical-align: top;
  font-weight: 700;
}
.registration__price {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 25px;
}
.registration__currency {
  padding: 25px 0;
}
.registration__currency-style {
  border: 1px solid #000;
  padding: 5px 8px;
}
.registration__order {
  font-size: 12px;
  font-weight: 700;
  padding: 30px 15px 12px 15px;
}
.registration__order-link {
  color: #fff;
  background-color: #000;
  padding: 10px 25px;
  border-radius: 3px;
  display: block;
}

.table-border {
  border: 1px solid #fdc300;
}
.text-align {
  text-align: center;
}


.books {
  background-color: #fff;
  padding-top: 50px;
}
.books__img {
  width: 100%;
  object-fit: cover;
}


.cards {
  padding-top: 80px;
  background-color: #fff;
}
.cards__container {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.cards__title {
  font-weight: 700;
  font-size: 23px;
  margin: 0;
}
.card {
  max-width: 300px;
  border: 2px solid rgba(192, 192, 192, .7);
  padding: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  transition: box-shadow .3s ease;
}
.card:hover {
  box-shadow: 0 0 20px #696969;
}
.card__package {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Roboto', Tahoma, sans-serif;
  margin: 0;
}
.card__title {
  font-weight: 700;
  font-size: 27px;
  margin: 5px 0 0 0;
}
.card__description {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 20px 0 0 0;
  color: #696969;
  max-width: 200px;
}
.card__info {
  font-weight: 700;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 15px;
  margin: 5px 0 0 0;
  max-width: 200px;
}
.card__old-price {
  color: #696969;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 17px;
  margin: 15px 0 0 0;
  font-weight: 400;
  position: relative;
}
.card__old-price::before {
  content: '';
  position: absolute;
  top: 9px;
  right: -5px;
  width: 125%;
  height: 2px;
  background-color: #f00;
  transform: rotate(170deg);
}
.card__price {
  font-size: 22px;
  font-family: 'Roboto', Tahoma, sans-serif;
  margin: 8px 0 0 0;
  font-weight: 700;
}
.card__button {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  display: block;
  background-color: #f00;
  color: #fff;
  padding: 20px 100px;
  border-radius: 3px;
  margin-top: 25px;
}
.card__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}



.gallery {
  padding: 80px 0 50px 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, fit-content);
}
.gallery__title {
  font-size: 33px;
  font-weight: 400;
  margin: 0;
  grid-column: 2/3;
}
.gallery__lists {
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
  grid-column: 2/3;
}
.gallery__list {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.gallery__img {
  width: 200px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}
.gallery__description {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto', Tahoma, sans-serif;
  margin: 0 0 0 30px;
  max-width: 350px;
}

.footer {
  min-height: 330px;
  display: flex;
  flex-direction: column;
}
.footer__up {
  font-size: 14px;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
  margin: 35px 0 0 0;
  padding: 15px 20px;
  border: 1px solid #fff;
  color: #fff;
  align-self: center;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s ease;
}
.footer__up::after {
  content: '';
  width: 6px;
  height: 6px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 5px;
}
.footer__up:hover {
  opacity: .5;
  box-shadow: 0 0 10px #fff;
}
.footer__lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 10px;
  list-style: none;
  padding: 0 0 30px 0;
  margin: 0;
}
.footer__list {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}
.footer__list-link {
  color: #fff;
}



@media screen and (max-width: 1121px) {
  .cards__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header__lists {
    gap: 20px;
  }
  .header__list {
    font-size: 14px;
  }
  .header__phone {
    font-size: 12px;
  }
}
@media screen and (max-width: 819px) {
  .header__container-soc-cont {
    gap: 8px;
    flex-direction: column;
    align-items: flex-end;
  }
  .header__contacts-container {
    order: 1;
  }
  .header__social-container {
    order: 2;
  }
  .header__list {
    font-size: 15px;
  }
  .header__phone {
    font-size: 14px;
  }
  .header__navigation {
    background-image: url(./images/burger-menu.svg);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 50px;
    align-self: center;
    cursor: pointer;
  }
  .header__navigation_type_close {
    background-image: url(./images/close.png);
  }
  .header__lists {
    display: none;
  }
  .header__lists_type_display {
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0;
    gap: 15px;
    display: flex;
    background-color: rgba(0, 0, 0, .8);
    padding: 10px 50px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    cursor: default;
  }
}
@media screen and (max-width: 569px) {
  .registration__title {
    font-size: 12px;
    padding: 10px 18px;
  }
  .registration__info {
    font-size: 11px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .registration__text-style {
    font-size: 8px;
  }
  .registration__sign {
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .registration__price {
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .registration__order {
    font-size: 10px;
    padding: 20px 10px 5px 10px;
  }
  .registration__order-link {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media screen and (max-width: 429px) {
  .title {
    height: 500px;
  }
  .title__container {
    padding-top: 180px;
  }

  .registration__title {
    font-size: 8px;
    padding: 5px;
  }
  .registration__info {
    font-size: 8px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .registration__text-style {
    font-size: 6px;
  }
  .registration__sign {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .registration__price {
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .registration__order {
    font-size: 10px;
    padding: 10px 5px;
  }
  .registration__currency-style {
    font-size: 9px;
  }
  .registration__order-link {
    font-size: 9px;
    padding-left: 14px;
    padding-right: 14px;
  }


  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery__list {
    flex-direction: column;
  }
  .gallery__description {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 0;
    text-align: center;
  }

  .card {
    padding: 25px;
  }
}
