.card__button {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  display: block;
  background-color: #f00;
  color: #fff;
  padding: 20px 100px;
  border-radius: 3px;
  margin-top: 25px;
}