.cards__container {
  display: flex;
  justify-content: center;
  gap: 60px;
}
@media screen and (max-width: 1121px) {
  .cards__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}