.consultations__title {
  margin: 0;
  font-size: 33px;
  font-weight: 400;
}
@media screen and (max-width: 569px) {
  .consultations__title  {
    font-size: 25px;
  }
}
@media screen and (max-width: 429px) {
  .consultations__title  {
    text-align: center;
    font-size: 21px;
  }
}