.consultations__subtitle {
  margin: 40px 0 0 0;
  font-size: 18px;
  line-height: 30px;
  max-width: 900px;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 569px) {
  .consultations__subtitle {
    margin-top: 20px;
    font-size: 15px;
  }
}
@media screen and (max-width: 429px) {
  .consultations__subtitle {
    font-size: 13px;
  }
}