.footer__up {
  font-size: 14px;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 400;
  margin: 35px 0 0 0;
  padding: 15px 20px;
  border: 1px solid #fff;
  color: #fff;
  align-self: center;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s ease;
}
.footer__up::after {
  content: '';
  width: 6px;
  height: 6px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 5px;
}
.footer__up:hover {
  opacity: .5;
  box-shadow: 0 0 10px #fff;
}