.header__phone {
  color: #fff;
  margin: 5px 0 0 0;
  text-align: right;
  font-size: 17px;
  font-weight: 400;
}
.header__phone:first-of-type {
  margin-top: 0;
}
@media screen and (max-width: 1121px) {
  .header__phone {
    font-size: 12px;
  }
}
@media screen and (max-width: 819px) {
  .header__phone {
    font-size: 14px;
  }
}