.registration__text-style {
  font-size: 10px;
  display: block;
}
@media screen and (max-width: 586px) {
  .registration__text-style {
    font-size: 8px;
  }
}
@media screen and (max-width: 429px) {
  .registration__text-style {
    font-size: 6px;
  }
}